.hashhackers-footer-desktop {
    background-color: transparent;
    padding-top: 5px;
}
.hashhackers-footer-close {
    float: right;
    padding-right: 5px;
}
.hashhackers-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 90px;
    width: 100%;
    z-index: 100000;
}
@media screen and (max-width: 600px) {
.hashhackers-footer-desktop {
    visibility: hidden;
    display: none;
  }
}
