.navbar-brand {
		position: relative;
		width: 170px;
		left: 15px;
		background-size: contain;
}

.post-title {
    line-height: 1.3;
    font-size: 30px;
    text-decoration: none;
}

h1 {
  font-size: 27px;

}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

img {
	margin-bottom: 15px;
}

.posts-recent {
	font-size: 20px;
}

.post-img {
	text-align: center;
}

st-meta {
	color: #000000;
}
